*,html{
    box-sizing: border-box;
    margin: 0%;
    height: 100svh;
    padding: 0%;
    width: 100svw;
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #333;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.producto-card {
    flex: 0 0 calc(20% - 10px); /* 4 tarjetas por fila, con un margen */
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto-card img {
    width: 100%; /* Asegura que la imagen se ajuste al ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: scale-down; /* Asegura que la imagen se ajuste sin recortes */
    max-height: 150px; /* Mantiene una altura máxima estándar */
}






/* .productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto-card {
    background-color: white;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
} */

.reseñas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.reseña-card {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media (max-width: 600px) {
    .productos-grid {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
